before_script:
    - pip install tox

services:
    - name: rigetticomputing/qvm
      alias: qvm
      command: ["-S"]


test:
    tags:
        - docker
        - python:3.6
    script:
        - export QVM_URL="http://qvm:5000"
        - tox -e py36

style:
    tags:
        - docker
        - python:3.6
    script:
        - tox -e flake8

docs:
    tags:
        - docker
        - python:3.6
    script:
        - apt-get update
        - apt-get install -y pandoc
        - tox -e docs
