image: python:3.6

before_script:
  - pip install tox

services:
  - name: rigetti/qvm
    alias: qvm
    command: ["-S"]
  - name: rigetti/quilc
    alias: quilc
    command: ["-S"]


test:
  tags:
    - github
  script:
    - export QVM_URL="http://qvm:5000"
    - export COMPILER_URL='http://quilc:6000'
    - tox -e py36

style:
  tags:
    - github
  script:
    - tox -e flake8

docs:
  tags:
    - github
  script:
    - apt-get update
    - apt-get install -y pandoc
    - tox -e docs
