include:
  - project: rigetti/ci
    file: pipelines/docker.gitlab-ci.yml

variables:
  IMAGE: rigetti/forest
  QVM_URL: "http://qvm:5000"
  QUILC_URL: "tcp://quilc:5555"

services:
  - name: rigetti/qvm
    alias: qvm
    command: ["-S"]
  - name: rigetti/quilc
    alias: quilc
    command: ["-R"]

test-py36:
  image: python:3.6
  tags:
    - github
  script:
    - make -e config
    - make install && make requirements
    - make test
  coverage: '/TOTAL.*\s(\d+)%/'

test-py37:
  image: python:3.7
  tags:
    - github
  before_script:
    - pip install tox
  script:
    - make -e config
    - tox -e py37

style:
  image: python:3.6
  tags:
    - github
  before_script:
    - pip install tox
  script:
    - tox -e flake8

docs:
  image: python:3.6
  tags:
    - github
  before_script:
    - pip install tox
  script:
    - apt-get update && apt-get install -y pandoc
    - pandoc --from=markdown --to=rst --output=docs/source/changes.rst CHANGELOG.md
    - tox -e docs

####################################################################################################
# MASTER-ONLY JOBS
####################################################################################################

upload-testpypi:
  stage: deploy
  image: python:3.6
  tags:
    - github
  only:
    refs:
      - master
  script:
    - make version > VERSION.txt
    - make install && make dist
    - make requirements && make upload

####################################################################################################
# RELEASE-ONLY JOBS
####################################################################################################

test-docker:
  stage: test
  image: docker:stable
  tags:
    - dockerd
    - github
  only:
    refs:
      - /^v(\d+\.)?(\d+\.)?(\d+)$/
  script:
    - docker run --rm $IMAGE:edge python -c "from pyquil import get_qc; qvm = get_qc('9q-qvm')"

install-testpypi:
  stage: test
  image: python:3.6
  tags:
    - github
  only:
    refs:
      - /^v(\d+\.)?(\d+\.)?(\d+)$/
  variables:
    PYPI_URL: https://pypi.org/simple
    TEST_PYPI_URL: https://test.pypi.org/simple/
  script:
    - pip install --index-url ${TEST_PYPI_URL} --extra-index-url ${PYPI_URL} pyquil
    - python -c "import pyquil"
