before_script:
    - pip install tox

test:
    tags:
        - docker
        - python:3.6
    script:
        - tox -e py36
        - tox -e flake8

docs:
    tags:
        - docker
        - python:3.6
    script:
        - apt-get update
        - apt-get install -y pandoc
        - tox -e docs
