[package]
versioned_files = ["pyproject.toml"]
# This should be changed back to CHANGELOG.md once v4.0.0 is released.
# https://github.com/rigetti/qcs-sdk-rust/issues/330
changelog = "V4_PRERELEASE_CHANGELOG.md"

[[workflows]]
name = "release"

[[workflows.steps]]
type = "PrepareRelease"

[[workflows.steps]]
type = "Command"
command = "git add pyproject.toml CHANGELOG.md && git commit -m \"chore: prepare release $version [skip ci]\" && git push"

[workflows.steps.variables]
"$version" = "Version"

[[workflows.steps]]
type = "Release"

[[workflows]]
name = "prerelease"

[[workflows.steps]]
type = "PrepareRelease"
prerelease_label = "rc"

[[workflows.steps]]
type = "Command"
command = "git add pyproject.toml CHANGELOG.md && git commit -m \"chore: prepare release $version [skip ci]\" && git push"

[workflows.steps.variables]
"$version" = "Version"

[[workflows.steps]]
type = "Release"

[github]
owner = "rigetti"
repo = "pyquil"
