[tool.poetry]
name = "pyquil"
version = "3.0.0-rc.15"
description = "A Python library for creating Quantum Instruction Language (Quil) programs."
authors = []
packages = [
    { include = "pyquil" }
]

[tool.poetry.dependencies]
python = "^3.7"
numpy = "^1.20"
scipy = "^1.6.1"
lark = "^0.11.1"
rpcq = "^3.6.0"
networkx = "^2.5"
ipython = "^7.21.0"
importlib-metadata = {version = "^3.7.3", python = "<3.8"}
qcs-api-client = "^0.7.0"
Sphinx = "^3.5.2"
sphinx-rtd-theme = "^0.5.1"
sphinx-autodoc-typehints = "^1.11.1"
nbsphinx = "^0.8.2"
recommonmark = "^0.7.1"
retry = "^0.9.2"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
flake8 = "^3.8.1"
pytest = "^6.2.2"
pytest-cov = "^2.11.1"
pytest-httpx = "^0.9"
mypy = "0.740"
pytest-xdist = "^2.2.1"
pytest-rerunfailures = "^9.1.1"
pytest-timeout = "^1.4.2"

[tool.poetry.extras]
docs = [
    "Sphinx",
    "sphinx-rtd-theme",
    "sphinx-autodoc-typehints",
    "nbsphinx",
    "recommonmark"
]

[tool.black]
line-length = 120
target-version = ['py37']
include = '\.pyi?$'
exclude = '''

(
  /(
      \.eggs         # black-default
    | \.git
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
  | external         # pyquil-specific
  | gen3

)
'''

[tool.dephell.main]
from = {format = "poetry", path = "pyproject.toml"}
to = {format = "setuppy", path = "setup.py"}

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
