# runtime deps
numpy
scipy
antlr4-python3-runtime >= 4.7.2, < 4.8
requests
networkx >= 2.0.0

# rigetti packages
rpcq >= 3.0.0

# optional latex deps
ipython

# test deps
black==19.10b0
coveralls
flake8
flake8-bugbear
mypy==0.740
pytest
pytest-cov
pytest-timeout
pytest-rerunfailures
requests-mock

# docs
sphinx>=3.0.0
sphinx_rtd_theme
sphinx_autodoc_typehints>=1.11.0
ipykernel
nbsphinx

# pypi
twine

# depdendency of contextvars, which we vendor
immutables==0.6

# pinning for mypy incompatibility
ruamel.yaml <= 0.16.5
