# runtime deps
numpy==1.19.*  # TODO: update to ^1.20 before v3
scipy
lark
qcs-api-client == 0.6.2.dev1088410470  # TODO: update before v3
requests
networkx >= 2.0.0


# rigetti packages
rpcq >= 3.6.0

# optional latex deps
ipython

# test deps
black==19.10b0
coveralls
flake8
flake8-bugbear==20.1.4
mypy==0.740
pytest
pytest-xdist # parallel execution
pytest-cov
pytest-timeout
pytest-rerunfailures
pytest-httpx

# docs
sphinx>=3.0.0
sphinx_rtd_theme
sphinx_autodoc_typehints>=1.11.0
ipykernel
nbsphinx
recommonmark

# pypi
twine

# depdendency of contextvars, which we vendor
immutables==0.6

# pinning for mypy incompatibility
ruamel.yaml <= 0.16.5
