# runtime deps
numpy
antlr4-python3-runtime
requests
contextvars
six
networkx
dataclasses

# rigetti packages
rpcq == 2.2.1

# test deps
pytest
requests-mock
flake8
tox

# docs
sphinx
sphinx_rtd_theme
sphinx_autodoc_typehints
ipykernel
nbsphinx
