name: Prepare Release

# TODO: When v4 is ready to be merged this should be updated to trigger off main and support full releases via a workflow_dispatch event.
# See https://github.com/rigetti/pyquil/issues/1501
on:
  push:
    branches:
      - revamp-release-workflows
  workflow_dispatch:
    inputs:
      type:
        description: Bump versions and trigger a new release.
        required: true
        default: prerelease
        options:
          - prerelease

jobs:
  prepare-release:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.PAT }}
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        token: ${{ secrets.PAT }}
    - name: Install Knope
      uses: knope-dev/action@v1
      with:
        version: 0.6.1 # Test before updating, breaking changes likely: https://github.com/knope-dev/action#install-latest-version
    - name: Configure Git
      run: |
        git config --global user.name "${{ github.triggering_actor }}"
        git config --global user.email "${{ github.triggering_actor}}@users.noreply.github.com"
    - name: Prepare Prerelease
      run: knope prerelease
