name: Release Dry Run

on: push

jobs:
  release-dry-run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        token: ${{ secrets.PAT }}
    - name: Install Knope
      uses: knope-dev/action@v1
      with:
        version: 0.6.1 # Test before updating, breaking changes likely: https://github.com/knope-dev/action#install-latest-version
    - name: Display Pending Prerelease
      run: knope prerelease --dry-run
