name: Release Dry Run

on:
  pull_request:
    branches: [ master ]
  workflow_dispatch:
    inputs:
      type:
        description: Runs knope with the --dry-run flag to see what the next release would look like.
        required: true
        default: prerelease
        options:
          - prerelease
          - release

jobs:
  release-dry-run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        token: ${{ secrets.PAT }}
    - name: Install Knope
      uses: knope-dev/action@v1
      with:
        version: 0.11.0 # Test before updating, breaking changes likely: https://github.com/knope-dev/action#install-latest-version
    - name: Prepare Prerelease
      run: knope prerelease --dry-run
      if: github.event_name == 'pull_request'
    - name: Prepare Release
      run: knope ${{ inputs.type }} --dry-run
      if: github.event_name == 'workflow_dispatch'
